@font-face {
    font-family: "ArimoRegular", sans-serif;
    src: url("../fonts/ArimoRegular/ArimoRegular.eot");
    src: url("../fonts/ArimoRegular/ArimoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoRegular/ArimoRegular.woff") format("woff"),
    url("../fonts/ArimoRegular/ArimoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArimoBold", sans-serif;
    src: url("../fonts/ArimoBold/ArimoBold.eot");
    src: url("../fonts/ArimoBold/ArimoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArimoBold/ArimoBold.woff") format("woff"),
    url("../fonts/ArimoBold/ArimoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "ArimoRegular", sans-serif;
}

.all-table {
    text-transform: uppercase;
    border-collapse: collapse;
    margin: auto;
    border: 24px solid #3A4965;
    color: #484848;
}

td {
    height: 165px;
    width: 198px;
    text-align: center;
}

.cell-content {
    line-height: 2;
}

th:nth-child(even) {
    background-color: #E3E3E3;
}

th:nth-child(odd) {
    background-color: #F2F2F2;
}

td:nth-child(even) {
    background-color: #E3E3E3;
}

td:nth-child(odd) {
    background-color: #F2F2F2;
}

.table-header {
    border-bottom: 12px solid #3A4965;
}

.choose-text {
    font-weight: bold;
    font-size: 14px;
    width: 201px;
    background-color: #FAFAFA !important;
}

.pricing-text {
    font-weight: bold;
    font-size: 20px;
}

.header-table-text {
    width: 160px;
    height: 115px;
    font-weight: bold;
    font-size: 20px;
}

::before {
    display: block;
    margin-bottom: 10px;
    font-family: "FontAwesome", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #848484;
}

.storage:before {
    content: "\f187";
}

.bandwidth:before {
    content: "\f0ee";
}

.email:before {
    content: "\f0e0";
}

.support:before {
    content: "\f1cd";
}

.products:before {
    content: "\f1b2";
}

.users:before {
    content: "\f0c0";
}

.standard {
    font-size: 36px;
    font-weight: bold;
    background-color: #89C331 !important;
    color: white;
}

.standard-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
}

.dollar-number {
    display: inline-block;
    margin: 0 auto;
}

small {
    font-size: 18px;
}

.month {
    font-weight: bold;
    font-size: 14px;
}

.ultimate-border {
    border: 1px solid #D7D7D7;
}

.action-button {
    font-weight: bold;
    font-size: 16px;
    width: 147px;
    height: 44px;
    color: white;
    text-transform: uppercase;
    background-color: #414141;
    border-style: none;
    border-radius: 5px;
}

.action-button:hover {
    transform: scale(1.2);
}

.ultimate {
    background-color: #F04A56 !important;
}

.premium {
    background-color: #20807C !important;
}


